body {
    color: #fff;
    background-color: #d1d1d1;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.txt-uni {
    font-weight: 600;
}

@font-face {
    font-family: 'fml-indulekhabold';
    src: url('./fonts/fmlin0bps-webfont.woff2') format('woff2'),
    url('./fonts/fmlin0bps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.input {
    padding-left: 6%;
    padding-right: 6%;
}

.out {
    padding-top: 2%;
}

#text-result {
    font-family: 'fml-indulekhabold';
    font-size: 1.4em;
}
